<% topics.each do |topic| %>
  <nav role="navigation" aria-label="Help">
    <h2 class="h4 mb-4"><%= topic[:title] %></h2>
    <ul class="space-y-4 break-inside-avoid">
      <% topic[:pages].each do |page| %>
        <%= page_item(page, class: "font-semibold underline") %>
      <% end %>
    </ul>
  </nav>
<% end %>
