// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// Please note this file is only targeting the end user interface and not the admin interface.
// To change the Tailwind CSS configuration, or to override the admin, system or design interface
// styles follow the instructions in https://docs.decidim.org/en/customize/styles/
//
// By default this is empty.

@import "fontface";
// @import "modules/mini_footer";
//@import "modules/white_theme";

.test {}

html {
  font-family: "Open Sans", "Arial", "sans-serif";
}

body {
// In case of overflowing content
//  @apply overflow-x-hidden;
}

/**
  Local mixins for @apply
*/
.link-hover {
  -webkit-text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
/** ------------------- **/


/**
 Meny changes
 */

header .main-bar__links-mobile__trigger {
  @apply flex-row md:flex-col md:gap-0 md:pl-1 border-0;

  span {
    @apply not-sr-only font-normal md:text-xs;
  }

  &[aria-expanded="true"] > span {
    display: none;
  }
}

// Cover for additional links on mobile dropdown doesnt work well
header .main-bar__links-mobile__dropdown-before::before {
  width: 8rem;
  @apply hidden;
}

// Hide Activity in main menu
//.main-bar__links-desktop__item-wrapper div:nth-child(2) {
//  display: none;
//}

// Hide public profile link
#dropdown-menu-account-mobile ul li:nth-child(2),
#dropdown-menu-account > ul li:nth-child(2) {
  display: none;
}

// Hide conversation links
#dropdown-menu-account-mobile ul li:nth-child(4),
#dropdown-menu-account > ul li:nth-child(4),
.profile__scaffold__top .profile__actions-main {
  display: none;
}

// Hide About process
.participatory-space__content-block > .space-y-8 > h2.h2.decorator {
  @apply sr-only;
}

// Always show mobile submenu
.participatory-space__nav-container [data-target*="dropdown"] {
  display: none;
}
.participatory-space__nav-container [id*="dropdown-menu"] {
  @apply py-1 md:p-0 block;
}


/**
 Design bug fixes
 */

.card__proposals-item:nth-child(2) {
    @apply md:mt-0;
}

// Dropdown sort proposals
[data-target*="dropdown"].order-by__button {
  @apply flex 2xl:hidden !important;
}

#dropdown-menu-order.order-by {
  @apply flex-col 2xl:flex-row !important;
}

#dropdown-menu-order[aria-hidden="true"] {
  display: none;
}

#dropdown-menu-order .button__sm {
  @apply 2xl:text-xs;
}

// Phase icon width
.card__highlight-metadata > :first-child,
.card__grid-metadata > :first-child {
  width: unset;
}

// Dropdown hidden in Ipad size
#dropdown-trigger-links-mobile[data-target*="dropdown"] {
  @apply lg:hidden md:flex !important;
}


// Dropdown menu too wide for screen

header .menu-bar__secondary-dropdown,
header .menu-bar__main-dropdown {
  @apply w-full xl:w-[1214px];
}

header .menu-bar__breadcrumb-desktop > .relative {
  position: inherit;
}

header .menu-bar__breadcrumb-desktop__dropdown-content-secondary {
  top: 100%;
  left: 2rem;
}

// WCAG click area for search button

header .main-bar__search form {
  line-height: 1.5555;

  button {
    padding: 0 3px;
  }
}

// WCAG contrast for search field

#input-search {
  @apply border border-gray outline outline-1 outline-transparent rounded bg-background-2 text-black font-normal placeholder:text-gray focus:outline-2 focus:outline-secondary disabled:bg-background-3 disabled:text-gray-2 disabled:cursor-not-allowed;
}

// Tabs too wide on mobile

.tab-x-container {
  @apply block md:flex md:gap-1 [&>*]:grow;
}

/**
 Login button
 */

.login__omniauth-button span {
  display: inline;
}

.login__omniauth-button svg {
  fill: #000;
  display: inline;
}


/**
 Login button
 */

.login__omniauth-button span {
  display: inline;
}

.login__omniauth-button svg {
  fill: #000;
  display: inline;
}


/**
  Menu bar
*/

#menu-bar {
  @apply border-t border-solid text-gray-3;
}
header .menu-bar__container {
  @apply bg-white;
}



.menu-bar__breadcrumb-desktop__dropdown-content-secondary,
header .menu-bar__main-dropdown {
  @apply ring-1;
  --tw-ring-color: #ccc;
}

header .menu-bar__breadcrumb-mobile {
  @apply text-xs !important;
}

header .menu-bar__breadcrumb-desktop > * {
  @apply text-black;
}

header .menu-bar__main-dropdown__menu a:hover {
  @apply link-hover;
}


/**
  Footer
*/

footer {
  .main-footer {
    @apply bg-black;

    .font-semibold {
      @apply font-normal;

      &:hover {
        @apply link-hover;
      }
    }
  }

  .mini-footer {
    background-color: #262626;
  }

  h2 {
    @apply text-white;
    font-weight: bold !important;
  }
}


/**
  Hero, start
*/

.hero-alt__text .button__secondary,
#hero-cta.button__secondary {
  @apply bg-white text-primary;

  &:focus,
  &:hover {
    @apply bg-white link-hover text-primary !important;
  }
}


/**
  Hero, participation space
*/

.participatory-space__hero-slogan {
  @apply text-white mb-4;
}

.participatory-space__hero {
  @apply backdrop-filter-none bg-background;

}
.participatory-space__hero-text {
  @apply text-black;
}

/**
  Backgrounds, sections
*/

#how_to_participate {
  background-color: #dbeff8;
  @apply mt-8 md:mt-12;
  // @apply bg-background;

  .editor-content {
    max-width: 900px;
  }
}


/**
  Cards
*/

.card__highlight {
  @apply bg-white shadow-none ring-transparent;

  &:hover {
    @apply ring-transparent;
  }

  &:nth-child(1) {
    background-color: #e3e8e9;
  }
  &:nth-child(2) {
    background-color: #dbeff8;
  }
  &:nth-child(3) {
    background-color: #dbede2;
  }
  &:nth-child(4) {
    background-color: #fbe1ec;
  }
  &:nth-child(5) {
    background-color: #ece2f1;
  }
  &:nth-child(6) {
    background-color: #fde3d6;
  }
  &:nth-child(7) {
    background-color: #d6ebed;
  }
  &:nth-child(8) {
    background-color: #fff2b0;
  }
}

/*
--color-dark-blue-light#e3e8e9
--color-blue-light#dbeff8
--color-green-light#dbede2
--color-pink-light#fbe1ec
--color-purple-light#ece2f1
--color-red-light#fde3d6
--color-turquoise-light#d6ebed
--color-yellow-light#fff2b0

--color-dark-blue-lightest#f5f7f8
--color-blue-lightest#f2fafc
--color-green-lightest#f0f9f3
--color-pink-lightest#fdf4f8
--color-purple-lightest#f6f1f9
--color-red-lightest#fef5f1
--color-turquoise-lightest#f2f9fa
--color-yellow-lightest#fffcef
*/

.card__grid {
  @apply bg-white shadow-none ring-1;
  --tw-ring-color: #e5e5e5;

  &:hover {
    @apply bg-background;
    --tw-ring-color: #e5e5e5;
  }
}

.card__highlight-metadata > *,
.card__grid-metadata > * {
  @apply max-w-full;
}

// Hide stuff
.filter-container #trigger-menu-scope,
.filter-container #panel-dropdown-menu-scope,
.filter-container #trigger-menu-area,
.filter-container #panel-dropdown-menu-area,
.participatory-space__block-reference.alert,
.meeting__calendar-container + .layout-author,
.meeting__registration-modal .form__wrapper-checkbox-label,
.answer-questionnaire__footer > .form__wrapper-checkbox-label,
#participatory-process-homepage-highlighted-proposals .button,
#sub_hero .button,
#floating-helper-tip {
  display: none;
}


/**
  Start page
 */


#highlighted-processes,
#highlighted-assemblies {
  @apply pt-2 md:pt-4;
}

#html-block-html {
  @apply pb-4;
}


/**
  Process overview pages
*/

.layout-2col__aside h1.title-decorator {
  font-size: 1.625rem;
}


/**
  Meetings
*/

.static-map {
  @apply md:max-w-[10rem] xl:max-w-[12rem];
}

/**
  Budgets
*/

// Hide buttons for finished budget
.budget__projects__finished .budget__card__list-project .button {
  display: none;
}

// Show info in mobile version too
.budget-summary__progressbox--checked_out {
  @apply block;
}
.budget-summary__progressbox {
  @apply flex flex-col-reverse md:flex-col;
}

// Hide disabled button on mobile
.budget-summary__progressbox-buttons:has(> .button.disabled),
.budget-summary__progressbox-buttons:has(> .button[disabled]),
.budget-summary__progressbox-buttons .button.disabled,
.budget-summary__progressbox-buttons .button[disabled] {
  @apply hidden md:inline-flex;
}

.budget-summary__progressbar--meter {
  background-color: #28A745;
}

.progressbox-fixed-wrapper,
.budget-summary {
//  @apply bg-background-4;
}

.budget-summary__progressbar-legend-strong {
  white-space: nowrap;
}

/**
  Headlines
*/

h1, h2, h3, h4, h5 {
  @apply font-bold text-black;
}


/**
  Links & Buttons
*/

.button__transparent {
  @apply text-black border-black;
}

a .card__list-title,
.button__text-secondary,
a .text-secondary {
  @apply text-black underline font-bold;
  &:hover {
    @apply link-hover;
  }
}

.activity__content > span:first-child a  {
  text-decoration: underline;
  &:hover {
    @apply link-hover;
  }
}


/**
  WCAG Contrasts
*/

.wizard-steps > * {
  &[aria-current] ~ * {
    &:before,
    &:after {
      background: #595959;
    }
  }
}


/**
  Reset colors & decorations
*/

header .menu-bar__breadcrumb-mobile__dropdown-trigger span,
header .menu-bar__breadcrumb-mobile__dropdown-trigger,
header .menu-bar__main-dropdown__menu a,
header .menu-bar__breadcrumb-desktop [data-target*="dropdown"] > svg,
.border-secondary,
.filter-container input[type="checkbox"]:checked, .filter-container input[type="checkbox"]:indeterminate, .filter-container input[type="radio"]:checked, .filter-container input[type="radio"]:indeterminate,
.card__list-title,
.activity__content > span:first-child a,
.home__section-participate-grid__icon,
.button__text-secondary,
header .main-bar__links-mobile,
[data-target*="dropdown"] > svg,
header .main-bar__links-mobile__trigger,
header .main-bar__links-desktop__item {
  @apply text-black;
}

.home__section-title::after,
.decorator::after,
.title-decorator::after {
  display: none;
}
