:concurrency: 5
:queues:
  - [mailers, 4]
  - [vote_reminder, 2]
  - [reminders, 2]
  - [default, 2]
  - [newsletter, 2]
  - [newsletters_opt_in, 2]
  - [conference_diplomas, 2]
  - [events, 2]
  - [translations, 2]
  - [user_report, 2]
  - [block_user, 2]
  - [metrics, 1]
  - [exports, 1]
  - [cleanups, 1]
  - [participatory_processes, 1]

# NOTE(d1): cron strings use 6 elements
# https://github.com/floraison/fugit?tab=readme-ov-file#the-second-extension

:scheduler:
  :schedule:
    CalculateAllMetrics:
      cron: '0 0 0 * * *' # Run at midnight
      class: CalculateAllMetricsJob
      queue: metrics
    PreloadOpenData:
      cron: '0 0 1 * * *' # Run at 01:00
      class: PreloadOpenDataJob
      queue: exports
    ExpireDownloadDataFiles:
      cron: '0 0 2 * * *' # Run at 02:00
      class: ExpireDownloadDataFilesJob
      queue: cleanups
    DeleteRegistrationForms:
      cron: '0 0 3 * * *' # Run at 03:00
      class: DeleteRegistrationFormsJob
      queue: cleanups
    DeleteWithdrawnProposals:
      cron: '0 0 4 * * *' # Run at 04:00
      class: DeleteWithdrawnProposalsJob
      queue: cleanups
    CleanAdminLogs:
      cron: '0 10 4 * * *' # Run at 04:10
      class: Decidim::Cleaner::CleanAdminLogsJob
      queue: scheduled
    CleanInactiveUsers:
      cron: '0 20 4 * * *' # Run at 04:20
      class: Decidim::Cleaner::CleanInactiveUsersJob
      queue: scheduled
    GenerateReminders:
      cron: '0 0 9 * * *' # Run at 09:00
      class: GenerateRemindersJob
      queue: reminders
    DigestDailyReminders:
      cron: '0 15 9 * * *' # Run at 09:15
      class: DigestDailyRemindersJob
      queue: reminders
    DigestWeeklyReminders:
      cron: '0 30 9 * * *' # Run at 09:30
      class: DigestWeeklyRemindersJob
      queue: reminders
    ChangeActiveStep:
      cron: '*/15 * * * *' # Run every 15 minutes
      class: ChangeActiveStepJob
      queue: participatory_processes
