@charset "utf-8";

@font-face {
    font-family: 'HyraSans';
    src: font-url('HyraSans-Regular.woff') format('woff'),
         font-url('HyraSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HyraSans';
    src: font-url('HyraSans-Bold.woff') format('woff'),
         font-url('HyraSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HyraSansDisplay';
    src: font-url('HyraSans-Display.woff') format('woff'),
         font-url('HyraSans-Display.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
